body {
  font-size: 14px;
  font-weight: 500px;
  margin-left: 30px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.item {
  font-size: 20px;
  color: blue;

}
.btn {
  background-color: rgb(136, 244, 167);
  color: red;
  width: 100px;
  height: 40px;
  border: none;
  margin-bottom: 10px;
}

.square {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid;
}
